# Dependencies
**/node_modules/
**/dist/
**/.eslintcache
.venv/

# Local env files
.env
.env.local
.env.*.local

# IDE/OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mock files
**/mocks/
